/**
 * @file
 * Styling for Lingotek toolbar icons.
 */

/* Bar formatting */
.toolbar-bar .toolbar-icon-lingotek-dashboard:before {
  background-image: url("../icons/bebebe/lingotek-chevron.png");
}
.toolbar-bar .toolbar-icon-lingotek-dashboard:active:before,
.toolbar-bar .toolbar-icon-lingotek-dashboard.active:before {
  background-image: url("../icons/ffffff/lingotek-chevron.png");
}

/* Tray formatting */
.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-lingotek-dashboard:before {
  background-image: url("../icons/787878/lingotek-chevron.png");
}
.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-lingotek-dashboard:active:before,
.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-lingotek-dashboard.active:before {
  background-image: url("../icons/000000/lingotek-chevron.png");
}
