{#
/**
 * @file
 * Default theme implementation of the Lingotek target status.
 *
 * Available variables:
 *   - entity: The entity which status we want to display.
 *   - language: The language code.
 *   - status: The status for that translation.
 *   - url: An optional \Drupal\Core\Url object.
 *   - new_window: A flag indicating if the link should be opened in a new window.
 *   - status_text: The status text, mainly though for link title.
 *
 * @see template_preprocess()
 * @see template_preprocess_lingotek_target_status()
 *
 * @ingroup themeable
 */
#}
{% if url %}<a href="{{ url }}"{%if new_window%} target="_blank"{%endif%}{%else%}<span{%endif%} class="language-icon target-{{status|lower}}" title="{{status_text}}">{{language|upper}}{%if url%}</a>{%else%}</span>{%endif%}
